<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Monarcas Morelia</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500|Oswald:500&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-default">

            <div class="navbar-header">
                <button type="button" data-target="#menuPrincipal" data-toggle="collapse"
                    class="navbar-toggle collapsed menu-btn">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand"><img src="https://fuerzamonarca.com/img/escudo-monarcas.png"
                        alt="Monarcas Morelia"></a>
            </div>
            <div id="menuPrincipal" class="navbar-collapse collapse menu-mob">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Institución <span
                                class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="https://fuerzamonarca.com/a-quien-pertenecemos">A quién pertenecemos</a></li>
                            <li><a href="https://fuerzamonarca.com/historia">Historia</a></li>
                            <li><a href="https://fuerzamonarca.com/jugadores-historicos">Jugadores históricos</a></li>
                            <li><a href="https://fuerzamonarca.com/directiva">Directiva</a></li>
                            <li><a href="https://fuerzamonarca.com/staff">Staff</a></li>
                            <li><a href="https://fuerzamonarca.com/instalaciones">Instalaciones</a></li>

                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Equipo <span
                                class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="https://fuerzamonarca.com/noticias">Noticias</a></li>
                            <li><a href="https://fuerzamonarca.com/plantel">Plantel</a></li>
                            <li><a href="https://fuerzamonarca.com/cuerpo-tecnico">Cuerpo técnico</a></li>
                            <li><a href="https://fuerzamonarca.com/estadisticas">Estadísticas</a></li>
                            <li><a href="https://fuerzamonarca.com/uniforme">Uniforme</a></li>
                            <li><a href="https://fuerzamonarca.com/calendario">Calendario</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Femenil <span
                                class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="https://fuerzamonarca.com/femenil/cuerpo-tecnico">Cuerpo Técnico</a></li>
                            <li><a href="https://fuerzamonarca.com/femenil">Plantel</a></li>
                            <li><a href="https://fuerzamonarca.com/femenil/uniforme">Uniforme</a></li>
                            <li><a href="https://fuerzamonarca.com/femenil/estadisticas">Estadísticas</a></li>
                            <li><a href="https://fuerzamonarca.com/femenil/calendario">Calendario</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">F. Básicas <span
                                class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="https://fuerzamonarca.com/fuerzas-basicas">Fuerzas Básicas</a></li>
                            <li><a href="https://fuerzamonarca.com/categorias-de-formacion">Categorías de formación</a>
                            </li>
                            <li><a href="https://fuerzamonarca.com/cefomm">CefoMM</a></li>
                            <li><a href="https://fuerzamonarca.com/imperios">Imperios</a></li>
                            <li><a href="https://fuerzamonarca.com/imperios/morelia">Imperio Morelia</a></li>
                            <li><a href="https://fuerzamonarca.com/visores">Visores</a></li>


                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Estadio <span
                                class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="https://fuerzamonarca.com/estadio">Información</a></li>
                            <li><a href="https://fuerzamonarca.com/grandes-momentos">Grandes Momentos</a></li>
                            <li><a href="https://fuerzamonarca.com/mapa">Mapa</a></li>
                            <li><a href="https://fuerzamonarca.com/como-llegar">Cómo llegar</a></li>

                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Aficionados <span
                                class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="https://fuerzamonarca.com/wallpapers">Wallpapers</a></li>
                            <li><a href="https://fuerzamonarca.com/galerias">Galerías</a></li>
                            <li><a href="https://fuerzamonarca.com/galerias-femenil">Galería Femenil</a></li>
                            <li><a href="https://fuerzamonarca.com/bono-monarca">Bono Monarca</a></li>
                            <!--<li><a href="~/puntos-de-venta">Puntos de Venta</a></li>-->
                            <!--<li><a href="http://www.bonomonarca.com" target="_blank">Bono Monarca</a></li>-->
                            <li><a href="https://fuerzamonarca.com/minimonarca">Minimonarca</a></li>
                            <li><a href="https://fuerzamonarca.com/tienda" target="_blank">Monarcas Shop</a></li>
                            <!--<li><a href="~/guia-del-partido">Guía del partido</a></li>-->
                            <li><a href="https://fuerzamonarca.com/codigo-de-conducta">Código de Conducta</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Medios <span
                                class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="https://fuerzamonarca.com/medios-monarcas">Medios Monarcas</a></li>
                            <li><a href="https://fuerzamonarca.com/reglamento-de-medios">Reglamento Medios</a></li>
                            <li><a href="https://fuerzamonarca.com/radio">FM Radio</a></li>


                        </ul>
                    </li>
                    <!--
                    <li>
                        <a href="#">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                        </a>
                    </li>
                        -->

                </ul>
            </div>
        </nav>
    </header>
    <div class="slider">
        <div class="slide">
            <img src="https://fuerzamonarca.com/media/header/Home-AMORelia.jpg" alt="AMORelia">
        </div>
        <div class="arrows">
            <span class="arrow left">

            </span>
            <span class="arrow rigth">

            </span>
        </div>
    </div>
    <div class="front-calendar" style="">
        <div class="calendar-reel slick-initialized slick-slider">
            <i class="fa fa-angle-left calendar-arrows slick-arrow"></i>
            <div aria-live="polite" class="slick-list draggable">
                <div class="slick-track" role="listbox">
                    <a href="#" ,="" eventos.equipo_local,="" eventos.equipo_visitante,="" eventos.nombre_eventos))"=""
                        class="slick-slide slick-cloned" data-slick-index="-1" aria-hidden="true" tabindex="-1"
                        style="width: 100%;">
                        <div class="match">
                            <div class="line1">
                                <div class="container">
                                    <div class="col-xs-3 cont-img">
                                        <p class="text-right">
                                            <img src="https://fuerzamonarca.com/media/img/equipos/6eebff42-5a22-4661-9581-f70aee3d546f.png"
                                                alt="Cruz Azul">
                                        </p>
                                    </div>
                                    <div class="col-xs-6 cont-match">
                                        <p class="text-match">Cruz Azul <span>vs</span> Monarcas</p>
                                    </div>
                                    <div class="col-xs-3 cont-img">
                                        <img src="https://fuerzamonarca.com/media/img/equipos/13.png" alt="Monarcas">
                                    </div>
                                </div>
                            </div>
                            <div class="line2">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-4 text-center">
                                            <i class="fa fa-calendar" aria-hidden="true"></i>
                                            <span>19/oct./2019</span>
                                        </div>
                                        <div class="col-sm-4 text-center">
                                            <i class="fa fa-clock-o" aria-hidden="true"></i>
                                            <span>17:00 hrs. </span>
                                        </div>
                                        <div class="col-sm-4 text-center">
                                            <i class="fa fa-map-pin" aria-hidden="true"></i>
                                            Azul </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <i class="fa fa-angle-right calendar-arrows slick-arrow"></i>
            </div>
        </div>
    </div>
    <div class="front-calendario-ver-completo text-center" style="">
        <a href="/calendario">Ver calendario completo</a>
    </div>
    <div class="container-fluid front-news">
        <div class="row">
            <div class="col-sm-4 new with-bg"
                style="background-image: url(https://fuerzamonarca.com/media/img/noticias/b2f60b70-29c2-480c-bdaa-b193fb1c688b.jpg)">
                <a href="/noticia/sera-un-gran-partido-p-guede">
                    <div class="captions">
                        <p class="title">
                            Será un gran partido: P. Guede
                        </p>
                        <p class="subtitle">

                            El estratega de la Monarquía, espera poder continuar sumando unidades en el Apertura
                            2019.&nbsp;

                            &nbsp;

                        </p>
                    </div>
                </a>

            </div>
            <div class="col-sm-4 new with-bg"
                style="background-image: url(https://fuerzamonarca.com/media/img/noticias/942465a5-c746-40cc-a5e2-e7d762fd84af.jpeg)">
                <a href="/noticia/a-seguir-sumando-en-tijuana">
                    <div class="captions">
                        <p class="title">
                            A seguir sumando, en Tijuana
                        </p>
                        <p class="subtitle">

                            Nuestro equipo se medirá ante Xolos este miércoles en el Estadio Caliente.&nbsp;

                        </p>
                    </div>
                </a>

            </div>
            <div class="col-sm-4 new with-bg"
                style="background-image: url(https://fuerzamonarca.com/media/img/noticias/a57b7651-9b21-4ef2-b083-afd5c6e297cb.jpg)">
                <a href="/noticia/seguir-en-este-camino-j-martinez">
                    <div class="captions">
                        <p class="title">
                            Seguir en este camino: J. Martínez
                        </p>
                        <p class="subtitle">

                            ‘El Shaggy’, quiere vencer a la Chivas en el Estadio Morelos.

                            &nbsp;

                        </p>
                    </div>
                </a>

            </div>

        </div>

    </div>
    <div class="front-videos">
        <div class="container">
            <div class="row">
                <div class="col-md-9" id="lastVideo"><iframe width="100%" height="480" style="width:100%"
                        src="//www.youtube.com/embed/ITOHOggSZxw?list=UUm9E5Kxn7bS-nDvY1gNOnzg"
                        allowfullscreen=""></iframe>
                    <div class="suscribe-youtube">
                        <img src="https://fuerzamonarca.com/img/youtube-logo.png" alt="">
                        <a href="https://www.youtube.com/user/MonarcasOficial" target="_blank">SUSCRIBETE A NUESTRO
                            CANAL</a>
                        <a href="https://www.youtube.com/user/MonarcasOficial/videos"
                            class="view-more-videos pull-right" target="_blank">ver mas videos</a>
                    </div>
                </div>
                <div class="col-md-3 banner-front-one">
                    <ins data-revive-zoneid="5" data-revive-id="0ebaac52876b99f16bd6e8b06be2762c"></ins>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 banner-front-big">
                    <ins data-revive-zoneid="3" data-revive-id="0ebaac52876b99f16bd6e8b06be2762c"></ins>
                </div>
            </div>
        </div>
    </div>
    <div class="front-rapid-links">
        <div class="background-gray">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <a href="https://fuerzamonarca.com/medios-monarcas">
                            <img src="https://fuerzamonarca.com/media/iconos/icon-medios.png" alt="">
                        </a>
                    </div>

                    <div class="col-md-6">
                        <a href="https://fuerzamonarca.com//fuerzas-basicas">
                            <img src="https://fuerzamonarca.com/media/iconos/icon-fuerzas-basicas.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="front-banners">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <ins data-revive-zoneid="6" data-revive-id="0ebaac52876b99f16bd6e8b06be2762c"></ins>
                </div>
                <div class="col-sm-4">
                    <ins data-revive-zoneid="7" data-revive-id="0ebaac52876b99f16bd6e8b06be2762c"></ins>
                </div>
                <div class="col-sm-4">

                    <iframe
                        src="https://fresh8.co/5be192d116c0161f226367c7/adtag?clickUrl=%%CLICK_URL_ESC%%&amp;cb=%%CACHEBUSTER%%&amp;isAdTag=true"
                        style="border: none; width: 300px; height: 250px; display: none !important;" frameborder="0"
                        scrolling="no"></iframe>
                </div>
            </div>
        </div>
    </div>
    <div class="front-plantel with-bg">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <p class="section-title text-yellow text-right">
                        plantel
                    </p>
                    <p class="section-subtitle text-yellow text-right">
                        fuerza monarca
                    </p>
                    <div class="front-plantel-gallery center-block slick-initialized slick-slider"
                        style="display: block;">
                        <i class="fa fa-angle-left  slick-arrow" style="display: block;"></i>
                        <div aria-live="polite" class="slick-list draggable">
                            <div class="slick-track" role="listbox">
                                <div class="player slick-slide slick-cloned" data-slick-index="-2"
                                    aria-hidden="true" tabindex="-1">
                                    <img src="https://fuerzamonarca.com/media/img/jugadores/d730e35f-48e5-45e8-8bef-1b8875dfaa0a.png"
                                        alt="">
                                    <a href="/plantel#ariel-uribe" tabindex="-1">
                                        <p class="number ">
                                            30
                                        </p>
                                        <p class="name">
                                            <span class="nombre">Ariel Uribe</span>
                                            <br>
                                            <span class="posicion">Medio</span>
                                            <i class="fa fa-angle-right " aria-hidden="true"></i>
                                        </p>
                                    </a>
                                </div>
                                <div class="player slick-slide slick-cloned" data-slick-index="-1"
                                    aria-hidden="true" tabindex="-1">
                                    <img src="https://fuerzamonarca.com/media/img/jugadores/fef812de-1aae-454f-bd81-1f67ad6b3cf7.png"
                                        alt="">
                                    <a href="/plantel#salvador-reyes" tabindex="-1">
                                        <p class="number ">
                                            14
                                        </p>
                                        <p class="name">
                                            <span class="nombre">Salvador Reyes</span>
                                            <br>
                                            <span class="posicion">Medio</span>
                                            <i class="fa fa-angle-right " aria-hidden="true"></i>
                                        </p>
                                    </a>
                                </div>

                            </div>
                            <i class="fa fa-angle-right  slick-arrow" style="display: block;"></i>
                        </div>
                    </div>
                </div>
                <div class="link-container">
                    <a href="/plantel" class="front-plantel-complete ">Ver plantel completo <i
                            class="fa fa-angle-right " aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="front-banner-big">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 banner-front-big">
                    <ins data-revive-zoneid="4" data-revive-id="0ebaac52876b99f16bd6e8b06be2762c"></ins>
                </div>
            </div>
        </div>
    </div>
    <div class="front-estadio with-bg">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 ">
                    <p class="section-title text-white">
                        #muralla monarca
                    </p>
                    <p class="section-subtitle text-yellow">
                        fortaleza de nuestro equipo
                    </p>
                    <a href="/estadio">
                        <span>ver mas</span>
                        <i class="fa fa-angle-right " aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="front-pirma ng-scope" data-ng-app="MonarcasApp" data-ng-controller="tiendaCtrl">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <img src="https://fuerzamonarca.com/img/logos-pirma-new-era-tienda.png" alt="PIRMA">
                </div>
                <div class="col-md-9">
                    <p class="section-title text-right">
                        TIENDA ONLINE OFICIAL
                    </p>
                    <p class="section-subtitle text-right">
                        Monarcas Morelia
                    </p>
                </div>
            </div>
            <div class="front-pirma-gallery center-block slick-initialized slick-slider">
                <i class="fa fa-angle-left  slick-arrow" style="display: block;"></i>
                <div aria-live="polite" class="slick-list draggable">
                    <div class="slick-track" role="listbox">
                        <div class="item ng-scope slick-slide slick-cloned" ng-repeat="articulo in products" data-slick-index="-2" aria-hidden="true" tabindex="-1">
                            <div class="imagen-producto"
                                style="background-image: url(https://s3.amazonaws.com/kichink/items_1894524_594046_0_20180818144120_b.jpg), url(/media/store/escudomon.jpg);">
                            </div>
                            <a href="https://www.kichink.com/buy/1894524" target="_blank" tabindex="-1">
                                <p class="title ng-binding">
                                    JERSEY OFICIAL PIR VISITA AP18-CLAU19
                                </p>
                                <p class="cart">
                                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                </p>
                            </a>
                        </div>
                        <div class="item ng-scope slick-slide slick-cloned" ng-repeat="articulo in products" data-slick-index="-1" aria-hidden="true" tabindex="-1">
                            <div class="imagen-producto"
                                style="background-image: url(https://s3.amazonaws.com/kichink/items_1878240_594046_0_20180809201206_b.jpg), url(/media/store/escudomon.jpg);">
                            </div>
                            <a href="https://www.kichink.com/buy/1878240" target="_blank" tabindex="-1">
                                <p class="title ng-binding">
                                    Playera Entr Pir. Cab Morelia NGO/GRIS
                                </p>
                                <p class="cart">
                                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                </p>
                            </a>
                        </div>
                    </div>
                </div><i class="fa fa-angle-right  slick-arrow" style="display: block;"></i>
            </div>
        </div>
    </div>
    <div class="front-galerias">
        <div class="container">
            <p class="section-title">
                galerias
            </p>
        </div>
        <div class="galeria-item"
            style="background-image:url(https://fuerzamonarca.com/Thumbs/ResizeGallery?path=9c156a37-9446-411c-8e5b-d6e54d00484a.jpg)">
            <a href="https://fuerzamonarca.com/media/img/galerias/9c156a37-9446-411c-8e5b-d6e54d00484a.jpg"
                data-lightbox="roadtrip" data-title="-"></a>
        </div>
        <div class="galeria-item"
            style="background-image:url(https://fuerzamonarca.com/Thumbs/ResizeGallery?path=4ad5da98-2ef8-4730-99cd-d5ddb3eb4e0b.jpg)">
            <a href="https://fuerzamonarca.com/media/img/galerias/4ad5da98-2ef8-4730-99cd-d5ddb3eb4e0b.jpg"
                data-lightbox="roadtrip" data-title="-"></a>
        </div>
        <div class="galeria-item"
            style="background-image:url(https://fuerzamonarca.com/Thumbs/ResizeGallery?path=fde326e3-b2a7-4787-ab32-3d6dd3eea89e.jpg)">
            <a href="https://fuerzamonarca.com/media/img/galerias/fde326e3-b2a7-4787-ab32-3d6dd3eea89e.jpg"
                data-lightbox="roadtrip" data-title="-"></a>
        </div>
        <div class="galeria-item"
            style="background-image:url(https://fuerzamonarca.com/Thumbs/ResizeGallery?path=caeaa0c8-9248-475f-8a05-1ba050698f46.jpg)">
            <a href="https://fuerzamonarca.com/media/img/galerias/caeaa0c8-9248-475f-8a05-1ba050698f46.jpg"
                data-lightbox="roadtrip" data-title="-"></a>
        </div>


        <div class="link-container">
            <a href="/galerias" class="front-gallery-complete ">ver todas <i class="fa fa-angle-right "
                    aria-hidden="true"></i></a>
        </div>
    </div>
    <footer>
        <div class="sponsors slick-initialized slick-slider">
            <i class="fa fa-angle-left calendar-arrows slick-arrow" style="display: block;"></i>
            <div aria-live="polite" class="slick-list draggable">
                <div class="slick-track" role="listbox">
                    <div class="slick-slide slick-cloned" style="width: 256px;" data-slick-index="-3" aria-hidden="true"
                        tabindex="-1">
                        <div>
                            <a href="http://www.cajamorelia.com.mx/" target="_blank" tabindex="-1"><img
                                    src="https://fuerzamonarca.com/media/patrocinadores/icon-cajamorelia.png"
                                    alt="Caja Morelia" class="fadein"></a>
                        </div>
                    </div>
                    <div class="slick-slide slick-cloned" style="width: 256px;" data-slick-index="-2" aria-hidden="true"
                        tabindex="-1">
                        <div>
                            <a href="https://tiendapirma.mx/" target="_blank" tabindex="-1"><img
                                    src="https://fuerzamonarca.com/media/patrocinadores/icon-pirma.png" alt="Pirma"
                                    class="fadein"></a>
                        </div>
                    </div>
                    <div class="slick-slide slick-cloned" style="width: 256px;" data-slick-index="-2" aria-hidden="true"
                        tabindex="-1">
                        <div>
                            <a href="https://tiendapirma.mx/" target="_blank" tabindex="-1"><img
                                    src="https://fuerzamonarca.com/media/patrocinadores/icon-totalplay.png" alt="Pirma"
                                    class="fadein"></a>
                        </div>
                    </div>
                </div>
            </div><i class="fa fa-angle-right calendar-arrows slick-arrow" style="display: block;"></i>
        </div>
        <div class="background">
            <div class="comercial-partners">
                <div class="container">
                    <div class="reel-comercial-partners slick-initialized slick-slider" style="display: block;">
                        <i class="fa fa-angle-left calendar-arrows slick-arrow" style="display: block;"></i>

                        <div aria-live="polite" class="slick-list draggable">
                            <div class="slick-track" role="listbox">
                                <div class="slick-slide slick-cloned" style="width: 369px;" data-slick-index="-2"
                                    aria-hidden="true" tabindex="-1">
                                    <div>
                                        <a href="http://web.superboletos.com:8001/SuperBoletos/index.do" target="_blank"
                                            tabindex="-1"><img
                                                src="https://fuerzamonarca.com/media/socios-comerciales/superboletos.png"
                                                alt="Newera" class="fadein"></a>
                                    </div>
                                </div>
                                <div class="slick-slide slick-cloned" style="width: 369px;" data-slick-index="-1"
                                    aria-hidden="true" tabindex="-1">
                                    <div>
                                        <a href=" http://www.ambulanciasambumed.com.mx//" target="_blank"
                                            tabindex="-1"><img
                                                src="https://fuerzamonarca.com/media/socios-comerciales/ambumed.png"
                                                alt="ambumed" class="fadein"></a>
                                    </div>
                                </div>
                            </div>
                        </div><i class="fa fa-angle-right calendar-arrows slick-arrow" style="display: block;"></i>
                    </div>
                </div>
            </div>
            <div class="container text-center liga-mx-logo">

            </div>

            <div class="container text-center footer-monarcas-logo">
                <a href="/"><img src="https://fuerzamonarca.com/img/escudo-monarcas.png" alt="Monarcas Morelia"></a>
                <div class="clearfix"></div>
                <a href="/avisos-de-privacidad" class="privacy">avisos de privacidad</a>
            </div>
            <div class="container text-center footer-monarcas-logo text-white">
                <small>
                    Periférico Paseo de la República, No. 514, Col. Bosques Camelinas, C.P. 58290, Morelia, Michoacán,
                    México. Tel. +52 (443) 593 0950 / (443) 314 1188<br><br>
                </small>
            </div>
        </div>
        <div class="copyrights">
            <p class="text-center">
                Sitio desarrollado por <a href="#" target="_blank">Pille y Palomo</a>
            </p>
        </div>
    </footer>
</body>
<script src="main.js"></script>

</html>